{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_ELEMENT_REF",
    "$ANGULAR_INPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$DEFAULT",
    "$ID",
    "$CLASS",
    "$NAME",
    "$DATA",
    "$SRC",
    "$FOR",
    "$TYPE",
    "$HREF",
    "$VALUE",
    "$TITLE",
    "$ALT",
    "$ROLE",
    "$ARIA",
    "$ANGULAR_ANIMATION",
    "$ANGULAR_ANIMATION_INPUT",
    "$ANGULAR_OUTPUT"
  ]
}
