<p-fieldset [formGroup]="form" [toggleable]="true" legend="Personal info">
  <div class="container">
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-user"></i>
      <input formControlName="fullName" pInputText id="fullName" type="text" />
      <label for="fullName">Full name</label>
    </span>

    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-user"></i>
      <input formControlName="managerName" pInputText id="managerName" type="text" />
      <label for="managerName">Manager name</label>
    </span>

    <span class="p-float-label calendar-input">
      <p-calendar
        [showIcon]="true"
        [maxDate]="today"
        formControlName="contractDate"
        iconDisplay="input"
        appendTo="body"
        id="contractDate" />
      <label for="contractDate">Contract date</label>
    </span>
  </div>
</p-fieldset>
