.input-container {
  display: flex;
  gap: var(--inline-spacing);
  row-gap: 2rem;
  flex-wrap: wrap;
  padding-top: 1rem;

  & > * {
    width: 100%;
    flex: 1;

    span {
      width: 100%;
    }

    input {
      width: max(216px, 100%);
    }
  }

  .pi {
    z-index: 2;
  }
}

.checkbox-input {
  display: flex;
  gap: var(--inline-spacing);
  align-items: center;
}

.error {
  display: block;
  color: #e24c4c;
  margin-top: 2px;
}
