@use 'variables' as *;

:host {
  min-height: 12rem;
  min-width: 17rem;
  display: flex;
  container-type: inline-size;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 0.9fr 2fr;
  background-color: var(--surface-section);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: $box-shadow;

  &__img {
    background: url('../../../../../assets/images/generate-report.webp') center center/cover no-repeat
      var(--surface-section);
  }

  &__content {
    display: grid;
    padding: $double-spacing;

    .unfilled-settings {
      place-self: center;
    }
  }
}

@container (width <= 684px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
