<p-fieldset [formGroup]="form" [toggleable]="true" legend="Personal info">
  <div class="input-container">
    <div>
      <span class="p-input-icon-left p-float-label">
        <i class="pi pi-user"></i>
        <input formControlName="fullName" pInputText id="fullName" type="text" />
        <label for="fullName">Full name</label>
      </span>
      @if (form.controls.fullName.hasError('maxlength')) {
        <small class="error">Maximum length is 200</small>
      }
    </div>

    <div>
      <span class="p-input-icon-left p-float-label">
        <i class="pi pi-user"></i>
        <input formControlName="managerName" pInputText id="managerName" type="text" />
        <label for="managerName">Manager name</label>
      </span>
      @if (form.controls.managerName.hasError('maxlength')) {
        <small class="error">Maximum length is 200</small>
      }
    </div>

    <div>
      <span class="p-float-label calendar-input">
        <p-calendar
          [showIcon]="true"
          [maxDate]="today"
          [readonlyInput]="true"
          formControlName="contractDate"
          iconDisplay="input"
          appendTo="body"
          id="contractDate" />
        <label for="contractDate">Contract date</label>
      </span>
    </div>
  </div>
</p-fieldset>
