:host {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
}

main {
  display: flex;
  justify-content: center;
}

app-generate-report-card {
  margin-top: 5%;
}
