.container {
  display: flex;
  gap: var(--inline-spacing);
  row-gap: 2rem;
  flex-wrap: wrap;
  padding-top: 1rem;

  & > * {
    width: 100%;
    flex: 1;

    input {
      width: max(178px, 100%);
    }
  }

  .pi {
    z-index: 2;
  }
}
