<p-fieldset [toggleable]="true" [formGroup]="form" legend="Security info">
  <div class="container">
    <div>
      <span class="p-input-icon-left p-float-label">
        <i class="pi pi-at"></i>
        <input formControlName="domainEmail" pInputText id="domainEmail" type="text" />
        <label for="domainEmail">Domain e-mail</label>
      </span>
      @if (form.controls.domainEmail.hasError('maxlength')) {
        <small class="error">Maximum length is 200</small>
      } @else if (form.controls.domainEmail.hasError('email')) {
        <small class="error">Invalid email</small>
      }
    </div>

    <div>
      <span class="p-input-icon-left p-float-label">
        <i class="pi pi-lock"></i>
        <p-password
          [feedback]="false"
          [toggleMask]="true"
          formControlName="token"
          autocomplete="off"
          autocomplete="one-time-code"
          id="token" />
        <label for="token">Token</label>
      </span>
      @if (form.controls.domainEmail.hasError('maxlength')) {
        <small class="error">Maximum length is 200</small>
      }
    </div>
  </div>
</p-fieldset>
